<p style="color: green"><%= notice %></p>

<h1>Поезда</h1>

<table>
  <thead>
  <tr>
    <th>Номер</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <!-- анонимный паршэл: когда Rails автоматически, на основе соглашения
    об именах объектов и паршэлов, определяет какой конкретно паршэл нужно отрендерить и,
    если нужно, то рендерит коллекцию. Анон.паршэл находится: views/trains/_train.html.erb

    Если мы в render передадим коллекцию определенного типа, он их автоматически
    переберет через each, и для каждого объекта сделает рендеринг соответствующего шаблона

    Если у нас ситуация, что для одиночного объекта у нас один код, а для коллекции - другой,
    тогда можно сделать паршэл во множественном числе _trains.html.erb, и если мы передадим коллекцию
    в render, то будет рендериться шаблон _trains. Если данного шаблона нет, то для каждого объекта
    внутри коллекции будет рендериться шаблон для одного объекта  -->
    <%= render @trains %>
  </tbody>
</table>

<div><br>
  <%= link_to 'На главную', welcome_index_path, method: :get %> |
  <%= link_to 'Новый поезд', new_train_path %>
</div>

