<p style="color: green"><%= notice %></p>

<h1>Railway stations</h1>

<%= link_to 'На главную', welcome_index_path, method: :get %>

<table>
  <tbody>
  <%= render @railway_stations %>
  </tbody>
</table>



<p><%= link_to 'Новая станция', new_railway_station_path %></p>

